//定义常用的class
.none {
  display: none
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full-page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  filter: alpha(opacity=20);
  opacity: .2;
  z-index: 9;
}

.hidden {
  overflow: hidden;
}

.flex {
  @include display-flex;
}

//移动端常用的flex布局
//加上flex-box, 使用垂直方向的flex-box布局
.flex-box {
  @include display-flex;
  @include flex-direction(column);

  height: 100%;

  & > .flex-con {
    @include flex(1, column);
    -webkit-overflow-scrolling : touch;
    overflow: auto;
    height: 100%;
  }
}
