//定义常用的class
.none {
    display:none
}

.clearfix::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}

.ellipsis {
    @include ellipsis;
}

.left {
    float: left;
}

.right {
    float: right;
}

.flex {
    @include display-flex;
}

//加上flexBox, 使用垂直方向的flexBox布局
.flexBox {
    @include display-flex;
    @include flex-direction(column);

    height: 100%;

    & > .flexCon {
        @include flex(1, column);
    }
}





